<section class="main-content">
    <h1>Edit Exhibition: <%= @exhibition.title %></h1>

    <form method="POST" action="/admin/exhibitions/<%= @exhibition.id %>" class="exhibition-form">
        <div class="form-label-group">
            <label for="title">Exhibition Title:</label>
            <input type="text" class="text-field-input" name="title" placeholder="Exhibition Title" value="<%= @exhibition.title %>" required/>
        </div>
        <div class="form-label-group">
            <label for="description" class="text-area-label">Description:</label>
            <textarea rows="4" cols="20" name="description" placeholder="Exhibition Description" ><%= @exhibition.description if @exhibition.description%></textarea>
        </div>
        <div class="form-label-group">
            <label for="start_date" class="text-area-label">Start Date:</label>
            <input type="date" class="date-field" name="start_date" value="<%= @exhibition.start_date %>" required/>
        </div>
        <div class="form-label-group">
            <label for="end_date" class="text-area-label">End Date:</label>
            <input type="date" class="date-field" name="end_date" value="<%= @exhibition.end_date %>" required />
        </div>
        <input type="submit" class="submit-button" value="Save" />
    </form>

    <hr/>
    <h2>Artists</h2>

    <div class="form-label-group">
      <label for="artists" class="text-area-label">Artists:</label>
      <div id="artists-list">
        <ul>
          <% for artist in @exhibition.get_artists %>
          <li> <%= artist.name %> </li>
          <% end %>
        </ul>
      </div>
    </div>
    <form class="artist-in-exhibition" method="POST" action="/admin/exhibitions/<%= @exhibition.id %>/add_artist">
        <div class="form-label-group">
          <select name="artist_id" id="artist-selection">
              <% for artist in @artists %>
                <% if !@exhibition.artist_in_show?(artist) %>
                  <option value="<%= artist.id %>">
                      <%= artist.name %>
                  </option>
                <% end %>
              <% end %>
          </select>
        </div>
        <input type="submit" value="✚ add artist" class="submit-button small-submit">
    </form>

    <a href="/admin/exhibitions">back 2 Manage Exhibitions</a>
</section>
