<section class="main-content">
    <h1>Edit Artist: <%= @artist.name %></h1>
    
    <form method="POST" action="/admin/artists/<%= @artist.id %>" class="artist-form">
        <div class="form-label-group">
            <label for="name">Artist Name:</label>
            <input type="text" class="text-field-input" name="name" placeholder="Artist Name" value="<%=@artist.name%>" required/>
        </div>
        <div class="form-label-group">
            <label for="year_born">Year Born:</label>
            <input class="year-field text-field-input" type="number" min="0" max="2030" name="year_born" 
                    placeholder="Year Born" value="<%=@artist.year_born%>"/>
        </div>
        <div class="form-label-group">
            <label for="hometown">Hometown:</label>
            <input type="text" class="text-field-input" name="hometown" placeholder="Hometown" value="<%=@artist.hometown%>"/>
        </div>
        <input type="submit" class="submit-button" value="Save">
        
    </form>

    <a href="/admin/artists">back 2 Manage Artists</a>
</section>